@font-face {
    font-family: 'SourceSansProSemibold';
    src: url('fonts/SourceSansProSemibold.eot');
    src: url('fonts/SourceSansProSemibold.eot') format('embedded-opentype'),
         url('fonts/SourceSansProSemibold.woff2') format('woff2'),
         url('fonts/SourceSansProSemibold.woff') format('woff'),
         url('fonts/SourceSansProSemibold.ttf') format('truetype'),
         url('fonts/SourceSansProSemibold.svg#SourceSansProSemibold') format('svg');
}
